#woo_customer_info_length { display: none; }
table.dataTable > tbody > tr.even { background:white;  }
.table-bordered th, .table-bordered td { border: 1px solid #dee2e6; }
#woo_customer_info { padding-top: 10px; }
#woo_customer_info_filter input { background-color: white; }